@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.blockJS-Button{border: 1px solid #846a29; font-size:16px; display:inline-block; background: linear-gradient(to bottom, #f7dfa5, #f0c14b); border-radius: 3px; padding: 5px 10px; font-family: 'Work Sans', sans-serif;}
.blockJS-Button:hover{cursor: pointer;}
.blockJS-QRCode{ width:300px; height:300px; background-size:cover; display:inline-block; margin-bottom:15px; }
.blockJS-Wrapper{position:fixed; width:100%; top:0; left:0; height:100%; background:rgba(255,255,255,0.7); z-index: 99999999999; padding:50px 0; color:#000; text-align:center;  display:none; font-family: 'Work Sans', sans-serif;}
.blockJS-Blur *{ -webkit-filter: blur(5px)!important; -moz-filter: blur(5px)!important; -o-filter: blur(5px)!important; -ms-filter: blur(5px)!important; filter: blur(5px)!important; }
.blockJS-QRCode, .blockJS-Wrapper, #blockJS, .blockJS-Logo, .blockJS-Credits, .blockJS-Details, .blockJS-Details *{ -webkit-filter: none!important; -moz-filter: none!important; -o-filter: none!important; -ms-filter: none!important; filter: none!important; }
.blockJS-Wrapper h1{font-size:24px!important}
.blockJS-Wrapper h2{font-size:18px!important}
.blockJS-Wrapper h5{font-size:13px!important}
.blockJS-Wrapper h6{font-size:15px!important}
.blockJS-Credits{position: fixed; bottom:0px; left:0; text-align:center; width:100%; font-size:12px; padding:10px 0; color:rgb(107, 107, 107);}
.blockJS-Loader{-webkit-animation-name: spin;-webkit-animation-duration: 4000ms;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;-moz-animation-name: spin;-moz-animation-duration: 4000ms;
-moz-animation-iteration-count: infinite;-moz-animation-timing-function: linear;-ms-animation-name: spin;-ms-animation-duration: 4000ms;-ms-animation-iteration-count: infinite;-ms-animation-timing-function: linear; animation-name: spin; animation-duration: 4000ms;
animation-iteration-count: infinite; animation-timing-function: linear;}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
