@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f7931a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #4d4d4d;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: left;
}

p {
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4d4d4d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4d4d4d;
  cursor: pointer;
}

.nav-button {
  font-size: 0.7em;
  position: absolute;
  right: 0;
  top: 0;
}

.card {
  padding: 2em;
}
html,
body {
  max-width: 100%;
  display: block;
}
#app {
  max-width: 560px;
  min-width: 560px;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  text-align: center;
  box-sizing: border-box;
  display: block;
}

.headline {
  display: block;
  align-items: left;
  width: 100%;
  text-align: left;
  position: relative;
}
.headline:hover {
  cursor: pointer;
}

.logo {
  width: 30px;
  margin-right: 0.5em;
  float: left;
  margin-top: -3px;
}
.logo-title {
  display: block;
  align-items: center;
}
.footer {
  font-size: 0.8em;
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
}
hr {
  color: #fff;
  margin: 20px 0;
}
h3 {
  margin: 40px 0;
}
.input {
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  width: 100%;
  max-width: 100%;
  color: #000;
  box-sizing: border-box;
}
.link {
  cursor: pointer;
  font-weight: 700;
}
.link:hover {
  text-decoration: underline;
}
.form-button {
  width: 100%;
}
.message {
  margin: 15px 0;
  padding: 15px;
  background-color: #85ff81;
  color: #000;
  border-radius: 8px;
}
.message.error {
  background-color: #ef5555;
  color: #fff;
}
h2 {
  font-weight: 900;
}
.step-text {
  height: calc(100vh - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
.pin-button {
  width: 31%;
  margin: 1%;
  padding: 1em;
}
.amount {
  font-size: 2em;
  padding: 1em;
}
.init-button {
  width: 98%;
  margin-top: 4px;
  height: 80px;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}
textarea {
  height: 80px;
}
.label {
  text-align: left;
  margin-bottom: 5px;
}
.form-choice {
  height: 25vh;
  margin-bottom: 10px;
  font-size: 1.5em;
  width: 100%;
}
@media screen and (max-width: 560px) {
  #app {
    padding: 0rem 1rem 1rem 1rem;
    min-width: 320px;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  #app {
    min-width: 0px;
  }
}
